<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MegaDrivePath" value="C:\games\MegaDrive"/>
    <add key="SuperNintendoPath" value="C:\games\SuperNintendo"/>
    <add key="Nintendo64Path" value="C:\games\Nintendo64"/>
    <add key="DefaultRomImage" value="C:\games\noImageFound.png"/>
  </appSettings>
</configuration>